# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

SELECT REPLACE(FIRST_NAME, 'a', 'A') FROM Worker;

SELECT * FROM Worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

ASC = Ascending 
DESC = Descending

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

SELECT * FROM EmployeeInfo WHERE Salary = (SELECT MAX(Salary) FROM EmployeeInfo);

SELECT FIRST_NAME FROM Worker WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);