# Q-1. Write an SQL query to show only odd rows from a table.

select * from table_name 
WHERE MOD(ID,2) <>0;

# Q-2. Write an SQL query to clone a new table from another table.

CREATE TABLE Employees_Copy AS
SELECT * FROM Employees;