# Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT DISTINCT Salary
FROM Employees AS Emp1
WHERE 5 = (
    SELECT COUNT(DISTINCT Salary)
    FROM Employees AS Emp2
    WHERE Emp2.Salary >= Emp1.Salary
);

# Q-2. Write an SQL query to fetch the list of employees with the same salary.

SELECT e1.EmployeeID, e1.FirstName, e1.LastName, e1.Salary
FROM Employees e1
JOIN Employees e2 ON e1.Salary = e2.Salary
WHERE e1.EmployeeID <> e2.EmployeeID
ORDER BY e1.Salary;