# Q-1.  Write an SQL query to show the top n (say 10) records of a table.

SELECT *
FROM Employees
LIMIT 10;

# Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

SELECT DISTINCT salary
FROM Employee
ORDER BY saryal DESC
LIMIT 4;

SELECT DISTINCT Salary
FROM Employees
ORDER BY Salary DESC
LIMIT 1 OFFSET 4;