# Q-15. Write an SQL query to fetch intersecting records of two tables.

SELECT * FROM Table1
INNER JOIN Table2 ON Table1.CommonColumn = Table2.CommonColumn;

# Q-16. Write an SQL query to show records from one table that another table does not have.

SELECT Table1.*
FROM Table1
LEFT JOIN Table2 ON Table1.CommonColumn = Table2.CommonColumn
WHERE Table2.CommonColumn IS NULL;

SELECT *
FROM Table1
WHERE NOT EXISTS (
    SELECT 1
    FROM Table2
    WHERE Table2.CommonColumn = Table1.CommonColumn
);