# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

SELECT * FROM Worker WHERE FIRST_NAME NOT IN ('Vipul', 'Satish');

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

SELECT * FROM Worker WHERE FIRST_NAME LIKE '_____h';

SELECT *
FROM Worker
WHERE 
  LENGTH(FIRST_NAME) = 6 AND
  FIRST_NAME LIKE '%h'

# Q-3. Write a query to validate Email of Employee.

CREATE DATABASE college;
USE college;

CREATE TABLE student
(
    s_id varchar(20),
    s_name varchar(20),
    s_branch varchar(20),
    s_email varchar(100)
);

INSERT INTO student VALUES
('19102001','JOHNSON','E.C.E','john432@gmail.com'),
('19102002','VIVEK','E.C.E','VIVEK2252gmail.com'),
('19102003','DINESH','E.C.E','dineshg@gmail.com'),
('19102004','HARSHA','E.C.E','hARsha302@gmail.com'),
('19102005','DAVID','E.C.E','david2000@gmail.com'),
('19102006','NAVIN','E.C.E','navin00'),
('19102007','VINAY','E.C.E','Vinay24mail.com');

SELECT * FROM student;

SELECT * FROM student
WHERE s_email LIKE '%@gmail.com';